a {
  color: #35a75a;
}
$primary: #35a75a !default;

.navbar-light .navbar-nav .nav-link{
  color: $primary !important;
}
.tooltip .tooltip-inner{
  max-width: 500px !important;
  width: 400px !important;
}

// Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '../node_modules/bootstrap-vue/src/index.scss';

$diskColors: '00ffff',
'ffd700',
'0000ff',
'a52a2a',
'008bff',
'00008b',
'008b8b',
'006400',
'bdb76b',
'8b008b',
'556b2f',
'ff8c00',
'9932cc',
'8b0000',
'e9967a',
'9400d3',
'ff00ff',
'9f78ff',
'008000',
'000000',
'c49ac1',
'4b0082',
'f0e68c',
'add8e6',
'ff3883',
'90ee90',
'd3d3d3',
'ffb6c1',
'c00000',
'00ff00',
'ff00ff',
'800000',
'000080',
'808000',
'ffa500',
'ffc0cb',
'800080',
'ee82ee',
'ff0000',
'c0c0c0',
'f87070',
'ffff00',
'a9a9a9';

@each $diskColor in $diskColors {
  .disk-color-#{$diskColor} {
    border-left: 8px solid #{'#'+$diskColor} !important;
  }
}